.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
/* hamburger */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
/* send */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.lusitana-regular {
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-style: normal;
}

.lusitana-bold {
  font-family: "Lusitana", serif;
  font-weight: 700;
  font-style: normal;
}

/* ticket */

body {
  padding: 2em;
}

.to,
.from,
.onwards,
.return {
  /* Just in case the names are too long to fit on a single line, break them with the modifier (from/to) */
  display: inline-block;

  font-weight: 100;
}

.airport-name,
.date,
.passenger-name {
  font-variant: small-caps;
  font-weight: bold;
}
